.venv
config/*
data/*
.git
.gitignore
.env*
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
.idea
.vscode
*.log
**/node_modules
*.swp
*.swo
**/.docs
**/.ruff
**/.mypy_cache
**/cdk.out
docs/
.next
.DS_Store
